<p id="notice"><%= notice %></p>

<h1>Interviews</h1>

<div class="panel panel-default">
<div class="panel-body">

<table class ="table">

  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Patient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interviews.each do |interview| %>
      <tr>
        <td><%= interview.title %></td>
        <td><%= interview.date.strftime('%d-%m-%Y') %></td>
        <td><%= interview.patient_id %></td>
        <td><%= link_to 'Show', interview %></td>
        <td><%= link_to 'Edit', edit_interview_path(interview) %></td>
        <td><%= link_to 'Delete', interview, method: :delete, data: { confirm: 'Are you sure you want to delete the interview?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>

</div>
</div>

<div class="btn-group" role="group" aria-label="...">
  <a button type="button" class="btn btn-default" href="/interviews/new">Add New Interview</a>
</div>

