<p id="notice"><%= notice %></p>

<h1>Patients</h1>

<div class="panel panel-default">
<div class="panel-body">

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last name</th>
        <th>Date birth</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Main condition</th>
        <th>Location</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @patients.each do |patient| %>
        <tr>
          <td><%= patient.name %></td>
          <td><%= patient.last_name %></td>
          <td><%= patient.date_birth.strftime('%d-%m-%Y') unless patient.date_birth.nil?  %></td>
          <td><%= patient.age %></td>
          <td><%= patient.gender %></td>
          <td><%= patient.main_condition %></td>
          <td><%= patient.location %></td>
          <td><%= link_to 'Show', patient %></td>
          <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
          <td><%= link_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure you want to delete this patient?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
</div>

<div class="btn-group mr-2" role="group" aria-label="...">
  <a button type="button" class="btn btn-default" href="/patients/new">Add New Patient</a></div>
  <div class="btn-group mr-2" role="group" aria-label="...">
  <a button type="button" class="btn btn-default" href="/interviews/new">Add New Interview</a>
</div>
</div>

