<!DOCTYPE html>
<html>
  <head>
    <title>Patients</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	 <ul class="nav nav-tabs">
		<p><li role="presentation"><%= link_to "Patients", patients_path, :class => current_class?(patients_path)%></li></p>
    <p><li role="presentation"><%= link_to "Planning", plannings_path, :class => current_class?(plannings_path)%></li></p>
	</ul>
  	<div class="container">
   	 <%= yield %>
    </div>
  </body>
</html>
