<%= form_with(model: planning, local: true) do |form| %>
  <% if planning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(planning.errors.count, "error") %> prohibited this planning from being saved:</h2>

      <ul>
      <% planning.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="form-group" id="status">
<%= form.label :status %>
<select class="form-control" id="status_select">
  <option value="1">Open</option>
  <option value="2">Postphoned</option>
  <option value="3">Scheduled</option>
  <option value="4">Excluded</option>
  <option value="5">Declined</option>
  <option value="6">Interviewed</option>
</select>

<script type="text/javascript">
  $( document ).ready(function() {
    $("#status_select").change(function() {

      $("#postphoned_reason").hide();
      $("#postphoned_date").hide();
      $("#scheduled_date").hide();
      $("#scheduled_interviewer").hide();
      $("#excluded_reason").hide();
      $("#declined_reason").hide();

      current_val = $("#status_select").val();
      
      if ( current_val == "2" ) {

          $("#postphoned_reason").show();
          $("#postphoned_date").show();

      } else if ( current_val == "3" ) {

          $("#scheduled_date").show();
          $("#scheduled_interviewer").show();

      } else if ( current_val == "4" ) {

          $("#excluded_reason").show();

      } else if ( current_val == "5" ) {

          $("#declined_reason").show();
      }
    });
  });
</script>

<div class="form-group" id="postphoned_reason" style="display:none">
  <%= form.label :postphoned_reason %>
  <%= form.text_area :postphoned_reason, class: "form-control" %>
</div>

<div class="form-group" id="postphoned_date" style="display:none">
  <%= form.label :postphoned_date %>
  <%= form.date_field :postphoned_date, id: :planning_postphoned_date, class: "form-control"  %>
</div>

  <div class="form-group" id="scheduled_date" style="display:none">
    <%= form.label :scheduled_datetime %>
    <%= form.datetime_select :scheduled_datetime, id: :planning_scheduled_datetime, class: "form-control"  %>
  </div>

  <div class="form-group" id="scheduled_interviewer" style="display:none">
    <%= form.label :scheduled_interviewer %>
    <%= form.text_field :scheduled_interviewer, id: :planning_scheduled_interviewer, class: "form-control"  %>
  </div>

  <div class="form-group" id="scheduled_location" style="display:none">
    <%= form.label :scheduled_location %>
    <%= form.text_field :scheduled_location, id: :planning_scheduled_location, class: "form-control"  %>
  </div>

  <div class="form-group" id="excluded_reason" style="display:none">
    <%= form.label :excluded_reason %>
    <%= form.text_area :excluded_reason, id: :planning_excluded_reason, class: "form-control"  %>
  </div>

  <div class="form-group" id="declined_reason" style="display:none">
    <%= form.label :declined_reason %>
    <%= form.text_area :declined_reason, id: :planning_declined_reason, class: "form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
