<%= form_with(model: planning, local: true) do |form| %>
  <% if planning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(planning.errors.count, "error") %> prohibited this planning from being saved:</h2>

      <ul>
      <% planning.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
<%= form.label :status %>
<select class="form-control">
  <option>Open</option>
  <option>Postphoned</option>
  <option>Scheduled</option>
  <option>Excluded</option>
  <option>Declined</option>
  <option>Interviewed</option>
</select>

  <div class="form-group">
    <%= form.label :postphoned_reason %>
    <%= form.text_area :postphoned_reason, id: :planning_postphoned_reason, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :postphoned_date %>
    <%= form.date_field :postphoned_date, id: :planning_postphoned_date, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :scheduled_datetime %>
    <%= form.datetime_select :scheduled_datetime, id: :planning_scheduled_datetime, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :scheduled_interviewer %>
    <%= form.text_field :scheduled_interviewer, id: :planning_scheduled_interviewer, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :scheduled_location %>
    <%= form.text_field :scheduled_location, id: :planning_scheduled_location, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :excluded_reason %>
    <%= form.text_area :excluded_reason, id: :planning_excluded_reason, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :declined_reason %>
    <%= form.text_area :declined_reason, id: :planning_declined_reason, class: "form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
