<p id="notice"><%= notice %></p>

<h1>Planning</h1>
<br>
<nav>
  <p><b>Jump to:</b></p>
    <ol>
      <li><a href="#open">Open</a></li>
      <li><a href="#scheduled">Scheduled interviews</a></li>
      <li><a href="#postponed">Postponed interviews</a></li>
      <li><a href="#excluded">Excluded patients</a></li>
      <li><a href="#declined">Declined patients</a></li>
    </ol>
</nav>
<br>

<h3 id="open">Open</h3>

<div class="panel panel-default">
<div class="panel-body">

  <table class ="table">

    <thead>
      <tr>
        <th>Patient</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @plannings_status_open.each do |planning| %>
        <tr>
          <td><%= planning.patient.full_name %></td>
          <td><%= planning.displayable_status %></td>
          <td><%= link_to 'Edit Status', edit_planning_path(planning) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div></div><br>

<h3 id="scheduled">Scheduled interviews</h3>

<div class="panel panel-default">
<div class="panel-body">

  <table class ="table">

    <thead>
      <tr>
        <th>Patient</th>
        <th>Status</th>
        <th>Interview date</th>
        <th>Interviewer</th>
        <th>Interview location</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @plannings_status_scheduled.each do |planning| %>
        <tr>
          <td><%= planning.patient.full_name %></td>
          <td><%= planning.displayable_status %></td>
          <td><%= planning.scheduled_datetime.strftime('%d-%m-%Y | %H:%M') unless planning.scheduled_datetime.nil? %></td>
          <td><%= planning.scheduled_interviewer %></td>
          <td><%= planning.scheduled_location %></td>
          <td><%= link_to 'Edit Status', edit_planning_path(planning) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div></div><br>

<h3 id="postponed">Postponed interviews</h3>

<div class="panel panel-default">
<div class="panel-body">

  <table class ="table">

    <thead>
      <tr>
        <th>Patient</th>
        <th>Status</th>
        <th>Reason of postponing</th>
        <th>Postponed to</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @plannings_status_postponed.each do |planning| %>
        <tr>
          <td><%= planning.patient.full_name %></td>
          <td><%= planning.displayable_status %></td>
          <td><%= planning.postponed_reason %></td>
          <td><%= planning.postponed_date.strftime('%d-%m-%Y') unless planning.postponed_date.nil?  %></td>
          <td><%= link_to 'Edit Status', edit_planning_path(planning) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div></div><br>

<h3 id="excluded">Excluded patients</h3>
<div class="panel panel-default">
<div class="panel-body">

  <table class ="table">

    <thead>
      <tr>
        <th>Patient</th>
        <th>Status</th>
        <th>Reason of exclusion</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @plannings_status_excluded.each do |planning| %>
        <tr>
          <td><%= planning.patient.full_name %></td>
          <td><%= planning.displayable_status %></td>
          <td><%= planning.excluded_reason %></td>
          <td><%= link_to 'Edit Status', edit_planning_path(planning) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div></div><br>

<h3 id="declined">Declined patients</h3>
<div class="panel panel-default">
<div class="panel-body">

  <table class ="table">

    <thead>
      <tr>
        <th>Patient</th>
        <th>Status</th>
        <th>Declined reason</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @plannings_status_declined.each do |planning| %>
        <tr>
          <td><%= planning.patient.full_name %></td>
          <td><%= planning.displayable_status %></td>
          <td><%= planning.declined_reason %></td>
          <td><%= link_to 'Edit Status', edit_planning_path(planning) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div></div>


<br>
