<p id="notice"><%= notice %></p>

<h1>Plannings</h1>

<div class="panel panel-default">
<div class="panel-body">

<table class ="table">

  <thead>
    <tr>
      <th>Patient</th>
      <th>Status</th>
      <th>Postphoned reason</th>
      <th>Postphoned date</th>
      <th>Scheduled datetime</th>
      <th>Scheduled interviewer</th>
      <th>Scheduled location</th>
      <th>Excluded reason</th>
      <th>Declined reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plannings.each do |planning| %>
      <tr>
        <td><%= planning.patient.full_name %></td>
        <td><%= planning.status %></td>
        <td><%= planning.postphoned_reason %></td>
        <td><%= planning.postphoned_date %></td>
        <td><%= planning.scheduled_datetime %></td>
        <td><%= planning.scheduled_interviewer %></td>
        <td><%= planning.scheduled_location %></td>
        <td><%= planning.excluded_reason %></td>
        <td><%= planning.declined_reason %></td>
        <td><%= link_to 'Show', planning %></td>
        <td><%= link_to 'Edit', edit_planning_path(planning) %></td>
        <td><%= link_to 'Destroy', planning, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div></div>

<br>
